
@import "breakpoint";

@mixin dev(){
  border-style: dotted;
  border-color:$red;
  border-width:1px;

}

@mixin padding-horizontal($p:$padding){
  padding-left: $p;
  padding-right: $p;
}
@mixin padding-vertical($p:$padding){
  padding-top: $p;
  padding-bottom: $p;
}
@mixin padding-custom($top:$padding, $right:$padding, $bottom:$padding, $left:$padding){
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin-horizontal($m:$margin){
  margin-left: $m;
  margin-right: $m;
}
@mixin margin-vertical($m:$margin){
  margin-top: $m;
  margin-bottom: $m;
}
@mixin margin-custom($top:$margin, $right:$margin, $bottom:$margin, $left:$margin){
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin ellipsis($width:100%){
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin fillScreen(){
  width:100%;
  height:100%;
}

@mixin quad($x, $y:null){
  width:$x;
  @if $y == null{
    height:$x;
  }
  @else{
    height:$y;
  }
}

@mixin centerVH() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


