@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Fugaz+One|Montserrat+Subrayada);

$primary-font: 'Montserrat Subrayada', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;

$largeText:30px;
$mediumLargeText:20px;
$mediumText:15px;
$mediumSmallText:12px;
$smallText:8px;